html {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
h1 {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    margin: -10px -10px 20px;
    padding: 10px;
}
h1 a {
    color: #BBBBBB;
    text-decoration: none;
}
h1 a:hover {
    text-decoration: underline;
}
h1 form.filter {
    float: right;
    font-size: 13px;
}
h3 {
    font-size: 15px;
}
h3 a {
    color: #BBBBBB;
    text-decoration: none;
}
h3 a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

strong.normal, strong.ok, strong.enabled, em.enabled {
    background-color: #99FF99;
    padding: 2px 8px;
}

strong.maintenance, strong.deploy, strong.disabled, em.disabled {
    background-color: #FF9999;
    padding: 2px 8px;
}

em.enabled2, em.disabled2 {
    padding: 2px 8px;
}

a.normal, a.ok, a.enabled {
    color: #000000;
    padding: 2px 8px;
}

a.maintenance, a.deploy, a.disabled {
    color: #000000;
    padding: 2px 8px;
}



.tabcont {
    position: relative;
}
ul.tabs {
    border-bottom: 1px solid #666666;
    height: 24px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.tabs li {
    background: none repeat scroll 0 0 #CCCCCC;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    float: left;
    margin: 0 2px 0 0;
    padding: 4px 8px;
}
ul.tabs li a {
    color: #000000;
    text-decoration: none;
}
ul.tabs li.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #666666 #666666 #FFFFFF;
    border-left: 1px solid #666666;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
}

.operationMode {
    width: 1200px;
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    border-collapse: true;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.hearbeatMode {
    width: 1200px;
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    border-collapse: true;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.group-selection {
    width: 1200px;
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    border-collapse: true;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.group-checkbox {
}

.groupEnableSelected {
    margin-left: 20px;
    float: right;
}

.groupDisableSelected {
    float: right;
}

.jobGroupRow {
    width: 1200px;
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    border-collapse: true;
    margin-top: 10px;
}

.jobGroup {
    width: 1200px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #CCCCCC;
}

.jobGroupName {
    font-size: 18px;
    font-weight: bold;    
}

.jobGroupEnabled {
#    width: 100px;
    float: right;
    margin-top: 3px;    
}

.history {
    color: #999999;
}

table {
    border: 1px;
    table-layout: fixed;
    border-collapse: true;
}

tr.even td {
    background: none repeat scroll 0 0 #EEEEEE;
}
tr.even th {
    background: none repeat scroll 0 0 #EEEEEE;
}
tr.litupRowOver {
    background: none repeat scroll 0 0 #E8EEFF;
}
tr.selected td {
    background: none repeat scroll 0 0 #FFEE00;
}
tr.selected th {
    background: none repeat scroll 0 0 #FFEE00;
}

tr.disabled td {
    background: none repeat scroll 0 0 #FF9999;
}

td {
    overflow: hidden;
}

td.checkbox {
    width: 10px;
}

td.trigger {
    width: 40px;
}

td.jobEnabled {
    width: 100px;
}

td.name {
    width: 100px;
}

td.description {
    width: 150px;
}

td.worker {
    width: 10px;
}

td.timestamp {
    width: 170px;
}

td.history {
    width: 10px;
}

td.hosts{
    width: 70px;
}

td.batchsize{
    width: 20px;
}

td.flowIds{
    width: 250px;
}