frontend.sproc.datasource.username        = zalando_api
frontend.sproc.datasource.password        = zalando_api
frontend.sproc.datasource.driverClassName = org.postgresql.Driver
frontend.sproc.datasource.url             = jdbc:postgresql://localhost:5432/local_test_db

frontend.sproc.datasource.idleConnectionTestPeriodInMinutes = 5
frontend.sproc.datasource.idleMaxAgeInMinutes = 15
frontend.sproc.datasource.maxConnectionsPerPartition = 8
frontend.sproc.datasource.minConnectionsPerPartition = 1
frontend.sproc.datasource.poolAvailabilityThreshold = 0
frontend.sproc.datasource.partitionCount = 2
frontend.sproc.datasource.acquireIncrement = 2
frontend.sproc.datasource.acquireRetryAttempts = 3
frontend.sproc.datasource.acquireRetryDelayInMs = 500
frontend.sproc.datasource.releaseHelperThreads = 2
frontend.sproc.datasource.statisticsEnabled = 0
frontend.sproc.datasource.disableJMX = 1
frontend.sproc.datasource.connectionTimeoutInMs = 5000
frontend.sproc.datasource.disableConnectionTracking = 1

# Redis configurations
job.lock.redis.host = localhost
job.lock.redis.port = 6379
job.lock.redis.maxIdle = 8
job.lock.redis.minIdle = 0
job.lock.redis.maxActive = 8
job.lock.redis.maxWait = -1
job.lock.redis.whenExhaustedAction = 1
job.lock.redis.testOnBorrow = true
job.lock.redis.testOnReturn = false
job.lock.redis.testWhileIdle = true
job.lock.redis.timeBetweenEvictionRunsMillis = 30000
job.lock.redis.numTestsPerEvictionRun = -1
job.lock.redis.minEvictableIdleTimeMillis = 60000
job.lock.redis.softMinEvictableIdleTimeMillis = -1
